Titanic_Navigation - Web_site/Titanic_Navigation/Web References/Titanic_Service_Reference/Titanic_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retrieve_Speed">
        <s:complexType />
      </s:element>
      <s:element name="Retrieve_SpeedResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Retrieve_SpeedSoapIn">
    <wsdl:part name="parameters" element="tns:Retrieve_Speed" />
  </wsdl:message>
  <wsdl:message name="Retrieve_SpeedSoapOut">
    <wsdl:part name="parameters" element="tns:Retrieve_SpeedResponse" />
  </wsdl:message>
  <wsdl:portType name="Titanic_ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Speed">
      <wsdl:input message="tns:Retrieve_SpeedSoapIn" />
      <wsdl:output message="tns:Retrieve_SpeedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Titanic_ServiceSoap" type="tns:Titanic_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Speed">
      <soap:operation soapAction="http://tempuri.org/Retrieve_Speed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Titanic_ServiceSoap12" type="tns:Titanic_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Speed">
      <soap12:operation soapAction="http://tempuri.org/Retrieve_Speed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Titanic_Service">
    <wsdl:port name="Titanic_ServiceSoap" binding="tns:Titanic_ServiceSoap">
      <soap:address location="http://192.168.0.137/Titanic_Service/Titanic_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Titanic_ServiceSoap12" binding="tns:Titanic_ServiceSoap12">
      <soap12:address location="http://192.168.0.137/Titanic_Service/Titanic_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>